*{
    margin: 0px;
    padding: 0px;
}
header{
    width: 100%;
    height: 12vh;
    background-color: #3b8686;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}
header > p{
    font-size: xx-large;
    font-weight: bolder;
}

.container{
    width: 100%;
    margin: 15vh 0;
}

.friend_container{
    width: 40%;
    height: 12vh;
    float: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 2vh 5%;
}

.friend_box{
    width: 90%;
    height: 10vh;
    background-color: #a8dba8;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.friend_box:hover{
    background-color: #79bd9a;
    cursor: pointer;
}

.profile{
    margin-top: 1%;
    width: 80%;
    height: 16vh;
    display: none;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.profile > p{
    background-color: #a8dba8;
    border-radius: 10px;
    width: 55%;
    height: 30%;
    float: right;
    margin: 1% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animal_container{
    width: 20%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.animal{
    width: auto;
    height: 70%;
}

.description_container{
    width: 60%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.nickname{
    font-size: x-large;
    font-weight: bolder;
}
.sign{
    font-size: smaller;
    font-weight: bolder;
    color: #4695d6;
    margin-left: 10px;
}

.detail_container{
    width: 20%;
    height: 100%;
    float: left;
    justify-content: center;
    flex-direction: column;
}
.gender_container{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10%;   
}
.gender{
    margin: 6% 6%;
    width: auto;
    height: 100%;
}
.time{
    color: gray;
    font-weight: bolder;
    font-size: smaller;
    margin-top: 10%;
    margin-right: 10%;
    text-align: right;
}

footer{
    width: 100%;
    height: 12vh;
    background-color: #3b8686;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
}
.function{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.function > img{
    width: auto;
    height: 60%;
}

@media (max-width: 900px){
    .friend_container{
        width: 70%;
        margin: 3vh 15%;
    }
    .profile > p{
        width: 70%;
    }
} 
@media (max-width: 600px){
    .friend_container{
        width: 96%;
        margin: 3vh 4%;
    }
    .profile > p{
        width: 80%;
    }
} 